<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="light">
                <p class="text-faded">
                    What is there to tell you about Arcadian? We crave that feeling when we're up on stage, sweat dripping and we can see each and every person in the crowd buzzing.<br />
                    That's why we do what we do.
                </p>
            </div>
        </div>
    </div>
</section>
