<section id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Social media</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="social__link" target="_blank" href="https://www.facebook.com/officialarcadian">
                            <i class="fa fa-4x fa-facebook wow bounceIn text-primary" id="social__link--facebook"></i>
                            <h3>Facebook</h3>
                        </a>
                        <p class="text-muted">Discover the latest news</p><br />
                    </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="social__link" target="_blank" href="https://soundcloud.com/arcadianband">
                            <i class="fa fa-4x fa-soundcloud wow bounceIn text-primary" id="social__link--soundcloud"></i>
                            <h3>Soundcloud</h3>
                        </a>
                        <p class="text-muted">Listen to our music</p><br />
                    </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="social__link" target="_blank" href="https://www.snapchat.com/add/arcadianband">
                                <i class="fa fa-4x fa-snapchat-ghost wow bounceIn text-primary" id="social__link--snapchat"></i>
                            <h3>Snapchat</h3>
                        </a>
                        <p class="text-muted">Follow us on Snapchat</p><br />
                    </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="social__link" target="_blank" href="https://www.youtube.com/channel/UCpjA5A62NtsJF7p-TWBXO_A">
                            <i class="fa fa-4x fa-youtube wow bounceIn text-primary" id="social__link--youtube"></i>
                            <h3>Youtube</h3>
                        </a>
                        <p class="text-muted">Watch our videos</p><br />
                    </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="social__link" target="_blank" href="https://open.spotify.com/artist/3vXqMbFxBm2Hpabh94bTLK">
                            <i class="fa fa-4x fa-spotify wow bounceIn text-primary" id="social__link--spotify"></i>
                            <h3>Spotify</h3>
                        </a>
                        <p class="text-muted">Listen to our latest releases</p><br />
                    </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="social__link" target="_blank" href="https://instagram.com/arcadianband">
                                <i class="fa fa-4x fa-instagram wow bounceIn text-primary" id="social__link--twitter"></i>
                            <h3>Instagram</h3>
                        </a>
                        <p class="text-muted">Sneak peeks</p><br />
                    </div>
            </div>

        </div>
    </div>
</section>
