    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="seo">Arcadian band from St Albans - events</h1>
                <img class="logo-main" src="{{cdn}}img/arcadian-long-logo.png" alt="arcadian logo">
                <hr>
                <h2 id="num-of-events"></h2>
            </div>
        </div>
    </header>

    <div id="events">
        <a href="http://www.songkick.com/artists/8625514" class="songkick-widget" data-theme="light" data-other-artists="on" data-track-button="on" data-detect-style="true" data-background-color="transparent">Arcadian events</a>
    </div>