    <header class="header-3">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="seo">Arcadian band from St Albans - lyrics</h1>
                <img class="logo-main" src="{{cdn}}/img/arcadian-long-logo.png" alt="arcadian logo">
                <hr>
                <h2>Lyrics</h2>
            </div>
        </div>
    </header>

    {{#if tinu.released}}
        <section class="lyrics__intro">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">This is Not Ultraviolet</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
        </section>

        {{>lyrics/lionsheart}}

        {{>lyrics/sublety}}

        {{>lyrics/fashionstatement}}
    {{/if}}

    {{>lyrics/mandy}}

    <section class="lyrics__intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Live sessions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    </section>

    {{>lyrics/alligator}}

    {{>lyrics/duality}}

    {{>lyrics/eastboundstrip}}

    {{>lyrics/legacies}}

    {{>lyrics/fornow}}

    {{>lyrics/youcanbet}}
