    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="seo">Arcadian band from St Albans - lyrics</h1>
                <img class="logo-main" src="{{cdn}}/img/arcadian-long-logo.png" alt="arcadian logo">
                <hr>
                <h2>Lyrics</h2>
            </div>
        </div>
    </header>

    <section class="lyrics__intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Live sessions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary lyrics__words" id="alligator">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Alligator</h2>
                    <hr class="light">
                    <p>
                        Obnoxious think I'm hot sh*t<br />
                        Surprised to find that that's the way I play it<br />
                        Luminous in the lifetimes<br />
                        Of those I find I'll leave behind<br />
                        Anyone not worth my time<br />
                        It's all lies it's all lies<br />
                        Feed them to me please I need release<br />
                        One two three
                    </p>

                    <p>
                        I'm not one to be overstated<br />
                        I'm an alligator<br />
                        I'm an alligator<br />
                        Give me patience please I need release<br />
                    </p>

                    <p>
                        Facades and broken looking glasses<br />
                        It's an act but I'm stealing hearts with it<br />
                        Regrets aint my kind of style<br />
                        Aligations you're wasting my time
                    </p>

                    <p>
                        I'm not one to be overstated<br />
                        I'm an alligator<br />
                        I'm an alligator<br />
                        Give me patience please I need release<br />
                    </p>

                    <p>
                        I'm not going to meet my maker<br />
                        I'm the undertaker<br />
                        I'm the undertaker<br />
                        Give me patience please I need release
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary lyrics__words" id="duality">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Duality</h2>
                    <hr class="light">
                    <p>
                        Time runs slow on my watch<br />
                        Tower looking out<br />
                        Feel my driving force is lust<br />
                        And I'm pushing now<br />
                        Want to hate you but I can't<br />
                        One way streets and I'm running down them way too fast
                    </p>

                    <p>
                        One way duality<br />
                        Cos I'm not feeling thee<br />
                        Up in my heart<br />
                        But it's a start<br />
                        You know you're hurting me<br />
                        But you don't care because<br />
                        You're in my heart<br />
                        But it's a start<br />
                        (Repeat once)
                    </p>

                    <p>
                        Like a string on your guitar<br />
                        You play me like a fool<br />
                        Pulsing in towards your heart<br />
                        Then ripping back and forth until I'm old<br />
                        Solitude it holds me tight<br />
                        It keeps me cooler than you know<br />
                        And I'll think of no revenge cos it's a start
                    </p>

                    <p>
                        One way duality<br />
                        Cos I'm not feeling thee<br />
                        Up in my heart<br />
                        But it's a start<br />
                        You know you're hurting me<br />
                        But you don't care because<br />
                        You're in my heart<br />
                        But it's a start<br />
                        (Repeat once)
                    </p>

                    <p>
                        (Instrumental)
                    </p>

                    <p>
                        One way duality<br />
                        Cos I'm not feeling thee<br />
                        Up in my heart<br />
                        But it's a start<br />
                        You know you're hurting me<br />
                        But you don't care because<br />
                        You're in my heart<br />
                        But it's a start<br />
                        (Repeat once)
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary lyrics__words" id="eastboundstrip">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Eastbound Strip</h2>
                    <hr class="light">
                    <p>
                        Take me to the eastbound strip<br />
                        Cos I can't go that far<br />
                        Without you on my arm<br />
                        Take me in your acid trip<br />
                        And we might see the stars<br />
                        And you might win my heart
                    </p>

                    <p>
                        Ooh I'm the one you're longing for<br />
                        I won't be adored<br />
                        I won't be adored
                    </p>

                    <p>
                        Squeeze me like I'm all you need<br />
                        And I'll be your disease<br />
                        And I won't ever cease<br />
                        Trying to hand you the vaccine<br />
                        But if you intervene<br />
                        Baby I ain't gonna plead
                    </p>

                    <p>
                        Ooh I'm the one you're longing for<br />
                        I won't be adored<br />
                        I won't be adored
                    </p>

                    <p>
                        Ooh don't know what you're living for<br />
                        I won't be adored<br />
                        I won't be adored
                    </p>

                    <p>
                        (instrumental)
                    </p>

                    <p>
                        Ooh I'm the one you're longing for<br />
                        I won't be adored<br />
                        I won't be adored
                    </p>

                    <p>
                        Ooh don't know what you're living for<br />
                        I won't be adored<br />
                        I won't be adored
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary lyrics__words" id="legacies">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Legacies</h2>
                    <hr class="light">
                    <p>
                        Deficit in my attention stores<br />
                        My ego is what I'm living for<br />
                        Story goes it was a last resort
                    </p>

                    <p>
                        So take me an eternal man<br />
                        Try to make me try to understand<br />
                        My time isn't worth the plan
                    </p>

                    <p>
                        Show me what it means to be<br />
                        Content with what I've become<br />
                        Cos I'm craving legacies<br />
                        And it's the final thing I'm running from
                    </p>

                    <p>
                        It's my afterlife<br />
                        I'm remembered for<br />
                        And I'll be humbled by<br />
                        The dying metaphor<br />
                        I'm a ticking clock<br />
                        It's what I'm living for
                    </p>

                    <p>
                        It's my afterlife<br />
                        I'm remembered for<br />
                        And I'll be humbled by<br />
                        The dying metaphor<br />
                        I'm a ticking clock<br />
                        It's what I'm living for
                    </p>

                    <p>
                        Give it all up for a smoke machine<br />
                        Bassey speakers and some laser beams<br />
                        Roll my sleeves I'm where I'm supposed to be
                    </p>

                    <p>
                        Think I'm wasted then you've got it wrong<br />
                        Feed my ego when you sing along<br />
                        Give me pride to be remembered from
                    </p>

                    <p>
                        Show me what it means to be<br />
                        Content with what I've become<br />
                        Cos I'm craving legacies<br />
                        Its the final thing I'm running from
                    </p>

                    <p>
                        It's my afterlife<br />
                        I'm remembered for<br />
                        And I'll be humbled by<br />
                        The dying metaphor<br />
                        I'm a ticking clock<br />
                        It's what I'm living for
                    </p>

                    <p>
                        It's my afterlife<br />
                        I'm remembered for<br />
                        And I'll be humbled by<br />
                        The dying metaphor<br />
                        I'm a ticking clock<br />
                        It's what I'm living for
                    </p>

                    <p>
                        Show me what it means to be<br />
                        Content with what I've become<br />
                        Cos I'm craving legacies
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary lyrics__words" id="fornow">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">For Now</h2>
                    <hr class="light">
                    <p>
                        It takes a certain something real<br />
                        To get me hooked on you<br />
                        My bloodshot eyes my fingers raw<br />
                        You're tearing me in two
                    </p>

                    <p>
                        Your polar attraction pulls me in<br />
                        You win for now<br />
                        I'm liable to be a runner<br />
                        You're a stunner but I ain't taking vows
                    </p>

                    <p>
                        I'd like to be the one you're dreaming of<br />
                        If you'd take me<br />
                        If you'd take me<br />
                        Cos I'm a victim of addicted love<br />
                        Woah, woah
                    </p>

                    <p>
                        I'd like to be the one you're dreaming of<br />
                        If you'd take me<br />
                        If you'd take me<br />
                        Cos I'm a victim of addicted love<br />
                        Woah, woah
                    </p>

                    <p>
                        I'm thinking through but nothing holds<br />
                        What did you do to me?<br />
                        Questions are burning me like coals<br />
                        And baby I will leave
                    </p>

                    <p>
                        I'm not the one to hold a grudge<br />
                        And my heart doesn't beat<br />
                        But if you like it kinda rough<br />
                        Then hold on to your seat
                    </p>

                    <p>
                        I'd like to be the one you're dreaming of<br />
                        If you'd take me If you'd take me<br />
                        Cos I'm a victim of addicted love<br />
                        Woah, woah
                    </p>

                    <p>
                        I'd like to be the one you're dreaming of<br />
                        If you'd take me<br />
                        If you'd take me<br />
                        Cos I'm a victim of addicted love<br />
                        Woah, woah
                    </p>

                    <p>
                        (Solo)
                    </p>

                    <p>
                        I'd like to be the one you're dreaming of<br />
                        If you'd take me<br />
                        If you'd take me<br />
                        Cos I'm a victim of addicted love<br />
                        Woah, woah
                    </p>

                    <p>
                        I'd like to be the one you're dreaming of<br />
                        If you'd take me<br />
                        If you'd take me<br />
                        Cos I'm a victim of addicted love<br />
                        Woah, woah
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary lyrics__words" id="youcanbet">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">You Can Bet</h2>
                    <hr class="light">
                    <p>
                        Walk towards me slowly<br />
                        The wind will blow your hair right back<br />
                        There's something 'bout your body<br />
                        That always blows my mind off track
                    </p>

                    <p>
                        And you can bet your ass I'll try<br />
                        To keep you mine forever<br />
                        And in the cold wet nights you'll find<br />
                        That this could feel like heaven
                    </p>

                    <p>
                        I know I'm not your normal taste<br />
                        But who the fu*k cares<br />
                        Slide a little closer<br />
                        Bite my lip and I'm a mess<br />
                        And its your head my heels are over
                    </p>

                    <p>
                        And you can bet your ass I'll try<br />
                        To keep you mine forever<br />
                        And in the cold wet nights you'll find<br />
                        That this could feel like heaven
                    </p>

                    <p>
                        You play just like a vinyl<br />
                        Smooth and always on my mind<br />
                        I wanna rock to your song<br />
                        And hope it's never the last time
                    </p>

                    <p>
                        And you can bet your ass I'll try<br />
                        To keep you mine forever<br />
                        And in the cold wet nights you'll find<br />
                        That this could feel like heaven
                    </p>

                </div>
            </div>
        </div>
    </section>
