    <header class="tinu">
        <div class="header-content">
            <div class="header-content-inner">
                <img class="logo-main" src="{{cdn}}/img/arcadian-long-logo.png" alt="arcadian logo">
                <h1>TINU</h1>
                <hr class="secondary-theme">
                <h2>This is Not Ultraviolet</h2>
            </div>
        </div>
    </header>

    {{>tinu/music}}

    {{>tinu/links}}
