.seo {
    display: none !important;
}

section#contact {
    padding-bottom: 10px;
}

.social__link {
    color: #000;

    &:hover {
        text-decoration: none;
        color: #000;
    }
}

.music__link {
    cursor: pointer;
}

.music__artwork div {
    padding: 5px;
}

.music__artwork--download {
    text-align: center;
}

.event-details {

    p {
        font-weight: bold;
    }

    span {
        font-weight: normal;
    }
}

#form-message {
    padding: 20px;
}

.logo-main {
    margin: 0 auto;
    height: 8vw;
}

.photo-gallery {
    padding: 50px;
}

img.logo-brand {
    height: 20px;
}

img.logo-light {
    display: block;
}

img.logo-dark {
    display: none;
}

@media (max-width: 767px){
    .logo-light{
        display: none !important;
    }

    .logo-dark{
        display: block !important;
    }
}