/// _social.scss

.social__link {
    color: map-get($arcadian_palette, primary);
    display: block;

    &:hover {
        text-decoration: none;
        color: map-get($arcadian_palette, secondary);
    }
}
