// _tinu.scss

.secondary-theme {
  background-color: $arcadian_secondary_theme_background !important;
  border-color: $arcadian_secondary_theme_background !important;
}

.tinu {
  background-image: url($arcadian_tinu_background);

  .header-content {
    h1 {
      font-size: $arcadian_tinu_h1_font_size;
      margin-top: $arcadian_tinu_h1_margin_top !important;

      @media (max-width: map-get($breakpoints, md)) {
        font-size: calc(#{$arcadian_tinu_h1_font_size} - (#{$tinu_size_factor} * 1));
      }

      @media (max-width: map-get($breakpoints, sm)) {
        font-size: calc(#{$arcadian_tinu_h1_font_size} - (#{$tinu_size_factor} * 2));
      }
    }

    .logo-main {
      height: $arcadian_tinu_logo_height;

      @media (max-width: map-get($breakpoints, md)) {
        height: calc(#{$arcadian_tinu_logo_height} - (#{$tinu_size_factor} * 1));
      }

      @media (max-width: map-get($breakpoints, sm)) {
        height: calc(#{$arcadian_tinu_logo_height} - (#{$tinu_size_factor} * 2));
      }
    }

    #countdown {
      margin-top: $arcadian_tinu_countdown_margin_top;
      display: $arcadian_tinu_countdown_display;
      font-size: $arcadian_tinu_countdown_font_size;
      font-weight: $arcadian_tinu_countdown_font_weight;

      @media (max-width: map-get($breakpoints, md)) {
        font-size: calc(#{$arcadian_tinu_countdown_font_size} - (#{$tinu_size_factor * 1}));
      }

      .countdown-box {
        padding: $arcadian_tinu_countdown_box_padding_top $arcadian_tinu_countdown_box_padding_right;
        text-align: $arcadian_tinu_countdown_box_text_align;

        @media (max-width: map-get($breakpoints, md)) {
          padding: 0 0 20px 0;
          padding: $arcadian_tinu_countdown_box_padding_top calc(#{$arcadian_tinu_countdown_box_padding_right} - (#{$tinu_size_factor} * 2)) calc(#{$arcadian_tinu_countdown_box_padding_bottom} + (#{$tinu_size_factor} * 1)) calc(#{$arcadian_tinu_countdown_box_padding_left} - (#{$tinu_size_factor} * 2));
        }

        & :first-child {
          line-height: $arcadian_tinu_countdown_box_first_line_height;

          @media (max-width: map-get($breakpoints, md)) {
            line-height: calc(#{$arcadian_tinu_countdown_box_first_line_height} - (#{$tinu_size_factor} * 1));
          }
        }
      }

      .text {
        font-size: $arcadian_tinu_countdown_box_text_font_size;
      }
    }
  }
}

// This code could be it's own _social.scss component.
// Having it here as a child of #tinu is too specific.
#tinu-links {
  .social__link {
    color: $arcadian_tinu_links_social_color;
    &:hover {
      color: $arcadian_tinu_links_social_color_hover;
    }
  }
}
