<section class="bg-primary" id="tinu-links">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Explore TINU</h2>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <a class="social__link" href="https://open.spotify.com/artist/3vXqMbFxBm2Hpabh94bTLK">
                        <i class="fa fa-4x fa-spotify wow bounceIn" id="tinu__link--spotify"></i>
                        <h3>Spotify</h3>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <a class="social__link" href="https://itunes.apple.com/gb/album/live-sessions-ep/id1045480153">
                        <i class="fa fa-4x fa-apple wow bounceIn" id="tinu__link--itunes"></i>
                        <h3>iTunes</h3>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <div class="service-box">
                        <a class="social__link" href="https://soundcloud.com/arcadianband/sets/this-is-not-ultraviolet">
                            <i class="fa fa-4x fa-soundcloud wow bounceIn" id="tinu__link--soundcloud"></i>
                            <h3>Soundcloud</h3>
                        </a>
                    </div>
            </div>

        </div>
    </div>
</section>
