<section class="bg-primary lyrics__words" id="alligator">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Alligator</h2>
                <hr class="light">
                <p>
                    Obnoxious think I'm hot sh*t<br />
                    Surprised to find that that's the way I play it<br />
                    Luminous in the lifetimes<br />
                    Of those I find I'll leave behind<br />
                    Anyone not worth my time<br />
                    It's all lies it's all lies<br />
                    Feed them to me please I need release<br />
                    One two three
                </p>

                <p>
                    I'm not one to be overstated<br />
                    I'm an alligator<br />
                    I'm an alligator<br />
                    Give me patience please I need release<br />
                </p>

                <p>
                    Facades and broken looking glasses<br />
                    It's an act but I'm stealing hearts with it<br />
                    Regrets aint my kind of style<br />
                    Aligations you're wasting my time
                </p>

                <p>
                    I'm not one to be overstated<br />
                    I'm an alligator<br />
                    I'm an alligator<br />
                    Give me patience please I need release<br />
                </p>

                <p>
                    I'm not going to meet my maker<br />
                    I'm the undertaker<br />
                    I'm the undertaker<br />
                    Give me patience please I need release
                </p>
            </div>
        </div>
    </div>
</section>
