<section class="bg-primary lyrics__words" id="duality">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Duality</h2>
                <hr class="light">
                <p>
                    Time runs slow on my watch<br />
                    Tower looking out<br />
                    Feel my driving force is lust<br />
                    And I'm pushing now<br />
                    Want to hate you but I can't<br />
                    One way streets and I'm running down them way too fast
                </p>

                <p>
                    One way duality<br />
                    Cos I'm not feeling thee<br />
                    Up in my heart<br />
                    But it's a start<br />
                    You know you're hurting me<br />
                    But you don't care because<br />
                    You're in my heart<br />
                    But it's a start<br />
                    (Repeat once)
                </p>

                <p>
                    Like a string on your guitar<br />
                    You play me like a fool<br />
                    Pulsing in towards your heart<br />
                    Then ripping back and forth until I'm old<br />
                    Solitude it holds me tight<br />
                    It keeps me cooler than you know<br />
                    And I'll think of no revenge cos it's a start
                </p>

                <p>
                    One way duality<br />
                    Cos I'm not feeling thee<br />
                    Up in my heart<br />
                    But it's a start<br />
                    You know you're hurting me<br />
                    But you don't care because<br />
                    You're in my heart<br />
                    But it's a start<br />
                    (Repeat once)
                </p>

                <p>
                    (Instrumental)
                </p>

                <p>
                    One way duality<br />
                    Cos I'm not feeling thee<br />
                    Up in my heart<br />
                    But it's a start<br />
                    You know you're hurting me<br />
                    But you don't care because<br />
                    You're in my heart<br />
                    But it's a start<br />
                    (Repeat once)
                </p>
            </div>
        </div>
    </div>
</section>
