<section class="bg-primary lyrics__words" id="eastboundstrip">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Eastbound Strip</h2>
                <hr class="light">
                <p>
                    Take me to the eastbound strip<br />
                    Cos I can't go that far<br />
                    Without you on my arm<br />
                    Take me in your acid trip<br />
                    And we might see the stars<br />
                    And you might win my heart
                </p>

                <p>
                    Ooh I'm the one you're longing for<br />
                    I won't be adored<br />
                    I won't be adored
                </p>

                <p>
                    Squeeze me like I'm all you need<br />
                    And I'll be your disease<br />
                    And I won't ever cease<br />
                    Trying to hand you the vaccine<br />
                    But if you intervene<br />
                    Baby I ain't gonna plead
                </p>

                <p>
                    Ooh I'm the one you're longing for<br />
                    I won't be adored<br />
                    I won't be adored
                </p>

                <p>
                    Ooh don't know what you're living for<br />
                    I won't be adored<br />
                    I won't be adored
                </p>

                <p>
                    (instrumental)
                </p>

                <p>
                    Ooh I'm the one you're longing for<br />
                    I won't be adored<br />
                    I won't be adored
                </p>

                <p>
                    Ooh don't know what you're living for<br />
                    I won't be adored<br />
                    I won't be adored
                </p>
            </div>
        </div>
    </div>
</section>
