<section class="bg-primary lyrics__words" id="fashionstatement">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Fashion Statement</h2>
                <hr class="light">
                <p>
                    You're a stone cold six in that tight dress<br />
                    Missing the point that I came alone by choice<br />
                    Ice tea mixers and fake ass sisters aren't pretty pictures<br />
                    but baby it's the weekend
                </p>

                <p>
                    And in your mind I'm obsessed<br />
                    Cos daddy told you any boy would be blessed<br />
                    But darling I must confess<br />
                    You're a decoration at best
                </p>

                <p>
                    You said you want me you should call me<br />
                    But I don't<br />
                    I think you're getting kinda cocky cos I won't<br />
                    You said you want me you should call me but I don't<br />
                    I think you're getting kinda cocky cos I won't
                </p>

                <p>
                    You're a fashion statement<br />
                    Legs stretch a mile from your thong to the pavement<br />
                    You couldn't be more blatant<br />
                    Queen sized bed in your parent’s basement<br />
                    And your lipstick stains aren't patient<br />
                    Notch on the post with a certain cadence<br />
                    And I try conversation<br />
                    You say you love Pink Floyd it's your favourite fragrance
                </p>

                <p>
                    And in your mind I'm obsessed<br />
                    Cos daddy told you any boy would be blessed<br />
                    But darling I must confess<br />
                    You're a decoration at best
                </p>

                <p>
                    You said you want me you should call me<br />
                    But I don't<br />
                    I think you're getting kinda cocky cos I won't<br />
                    You said you want me you should call me but I don't<br />
                    I think you're getting kinda cocky cos I won't
                </p>
            </div>
        </div>
    </div>
</section>
