<section class="bg-primary lyrics__words" id="fornow">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">For Now</h2>
                <hr class="light">
                <p>
                    It takes a certain something real<br />
                    To get me hooked on you<br />
                    My bloodshot eyes my fingers raw<br />
                    You're tearing me in two
                </p>

                <p>
                    Your polar attraction pulls me in<br />
                    You win for now<br />
                    I'm liable to be a runner<br />
                    You're a stunner but I ain't taking vows
                </p>

                <p>
                    I'd like to be the one you're dreaming of<br />
                    If you'd take me<br />
                    If you'd take me<br />
                    Cos I'm a victim of addicted love<br />
                    Woah, woah
                </p>

                <p>
                    I'd like to be the one you're dreaming of<br />
                    If you'd take me<br />
                    If you'd take me<br />
                    Cos I'm a victim of addicted love<br />
                    Woah, woah
                </p>

                <p>
                    I'm thinking through but nothing holds<br />
                    What did you do to me?<br />
                    Questions are burning me like coals<br />
                    And baby I will leave
                </p>

                <p>
                    I'm not the one to hold a grudge<br />
                    And my heart doesn't beat<br />
                    But if you like it kinda rough<br />
                    Then hold on to your seat
                </p>

                <p>
                    I'd like to be the one you're dreaming of<br />
                    If you'd take me If you'd take me<br />
                    Cos I'm a victim of addicted love<br />
                    Woah, woah
                </p>

                <p>
                    I'd like to be the one you're dreaming of<br />
                    If you'd take me<br />
                    If you'd take me<br />
                    Cos I'm a victim of addicted love<br />
                    Woah, woah
                </p>

                <p>
                    (Solo)
                </p>

                <p>
                    I'd like to be the one you're dreaming of<br />
                    If you'd take me<br />
                    If you'd take me<br />
                    Cos I'm a victim of addicted love<br />
                    Woah, woah
                </p>

                <p>
                    I'd like to be the one you're dreaming of<br />
                    If you'd take me<br />
                    If you'd take me<br />
                    Cos I'm a victim of addicted love<br />
                    Woah, woah
                </p>
            </div>
        </div>
    </div>
</section>
