<section class="bg-primary lyrics__words" id="legacies">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Legacies</h2>
                <hr class="light">
                <p>
                    Deficit in my attention stores<br />
                    My ego is what I'm living for<br />
                    Story goes it was a last resort
                </p>

                <p>
                    So take me an eternal man<br />
                    Try to make me try to understand<br />
                    My time isn't worth the plan
                </p>

                <p>
                    Show me what it means to be<br />
                    Content with what I've become<br />
                    Cos I'm craving legacies<br />
                    And it's the final thing I'm running from
                </p>

                <p>
                    It's my afterlife<br />
                    I'm remembered for<br />
                    And I'll be humbled by<br />
                    The dying metaphor<br />
                    I'm a ticking clock<br />
                    It's what I'm living for
                </p>

                <p>
                    It's my afterlife<br />
                    I'm remembered for<br />
                    And I'll be humbled by<br />
                    The dying metaphor<br />
                    I'm a ticking clock<br />
                    It's what I'm living for
                </p>

                <p>
                    Give it all up for a smoke machine<br />
                    Bassey speakers and some laser beams<br />
                    Roll my sleeves I'm where I'm supposed to be
                </p>

                <p>
                    Think I'm wasted then you've got it wrong<br />
                    Feed my ego when you sing along<br />
                    Give me pride to be remembered from
                </p>

                <p>
                    Show me what it means to be<br />
                    Content with what I've become<br />
                    Cos I'm craving legacies<br />
                    Its the final thing I'm running from
                </p>

                <p>
                    It's my afterlife<br />
                    I'm remembered for<br />
                    And I'll be humbled by<br />
                    The dying metaphor<br />
                    I'm a ticking clock<br />
                    It's what I'm living for
                </p>

                <p>
                    It's my afterlife<br />
                    I'm remembered for<br />
                    And I'll be humbled by<br />
                    The dying metaphor<br />
                    I'm a ticking clock<br />
                    It's what I'm living for
                </p>

                <p>
                    Show me what it means to be<br />
                    Content with what I've become<br />
                    Cos I'm craving legacies
                </p>
            </div>
        </div>
    </div>
</section>
