<section class="bg-primary lyrics__words" id="lionsheart">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Lions Heart</h2>
                <hr class="light">
                <p>
                    Born the son of an English man<br />
                    My heart it will retire<br />
                    To burst my lungs to Jerusalem<br />
                    To chariots of fire
                </p>

                <p>
                    And there's a reason they call us the British Lions<br />
                    Don't give a toss if we're caught, hung dry or destroyed<br />
                    We bring the noise<br />
                    There's a reason they call us the British Lions<br />
                    History favours the Bravehearts over the boys<br />
                    We bring the noise<br />
                    (We bring the noise)
                </p>

                <p>
                    (La la la la la)
                </p>

                <p>
                    Beat my Lion's Heart<br />
                    Beat my Lion's Heart
                </p>

                <p>
                    There's a reason they call us the British Lions<br />
                    Don't give a toss if we're caught, hung dry or destroyed<br />
                    We bring the noise<br />
                    (We bring the noise)<br />
                    There's a reason they call us the British Lions<br />
                    History favours the Bravehearts over the boys<br />
                    We bring the noise<br />
                    (We bring the noise)
                </p>

                <p>
                    (La la la la la)
                </p>
            </div>
        </div>
    </div>
</section>
