<section class="bg-primary lyrics__words" id="lionsheart">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Lions Heart</h2>
                <hr class="light">
                <p>
                    Lyrics go here
                </p>
            </div>
        </div>
    </div>
</section>
