<section class="lyrics__intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mandy</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
</section>

<section class="bg-primary lyrics__words" id="mandy">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                    Say something<br />
                    Pivotry<br />
                    It's when my eyes, my heart, my lungs ain't where they're supposed to be<br />
                    Make the sounds melt in my mouth<br />
                    I've got a primal urge to hold on to you now<br />
                    And it's ripping me apart at the seams<br />
                    And I love it when I'm grinding my teeth<br />
                    Because you bring the feeling back I fall to my knees<br />
                    In the midst of you I scream<br />
                </p>

                <p>
                    Mandy Grab my body get at me<br />
                    Cleanse my soul<br />
                    If I lose my mind will I lose control<br />
                    I wanna ahhh let's go<br />
                    Mandy Grab my body get at me<br />
                    Cleanse my soul<br />
                    If I lose my mind will I lose control<br />
                    I wanna ahhh let's go<br />
                    I'm chasing stars<br />
                    I'm chasing stars<br />
                </p>

                <p>
                    Pour me perfect symmetry<br />
                    You got a body made for ecstacy<br />
                    I've got a dry mouth and I don't doubt<br />
                    I've got a brain you broke I'm passing out<br />
                    Want your eyes Lost on me<br />
                    For all the flashing lights and trippy nights I wanna be<br />
                    Ripping you apart at the seams<br />
                    And I love it when I'm grinding my teeth<br />
                    Because you bring the feeling back I fall to my knees<br />
                    In the midst of you I scream<br />
                </p>

                <p>
                    Mandy Grab my body get at me<br />
                    Cleanse my soul<br />
                    If I lose my mind will I lose control<br />
                    I wanna ahhh let's go<br />
                    Mandy Grab my body get at me<br />
                    Cleanse my soul<br />
                    If I lose my mind will I lose control<br />
                    I wanna ahhh let's go<br />
                    I'm chasing stars<br />
                    I'm chasing stars<br />
                </p>

                <p>
                    See you in my kaleidoscope eyes<br />
                    See you in my kaleidoscope eyes<br />
                    See you in my kaleidoscope eyes<br />
                    See you in my kaleidoscope eyes<br />
                </p>
            </div>
        </div>
    </div>
</section>
