<section class="bg-primary lyrics__words" id="subtlety">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Subtlety</h2>
                <hr class="light">
                <p>
                    And the devil may care<br />
                    Tommy's in a wheelchair<br />
                    Pub golf done with the bloodstained hair of some<br />
                    Puffy jacket in a jumped up Corsa<br />
                    Got too big for boots he don't wear<br />
                    Jump to the sound of the girls getting pretty<br />
                    Night in the barn then a trip to the city<br />
                    Bus back home fake IDs getting dizzy<br />
                    "Touch her ass for a dare"
                </p>

                <p>
                    Simplicity<br />
                    I know you want it<br />
                    No bittersweet<br />
                    Our gin no tonic<br />
                    I know you want it
                </p>

                <p>
                    I heard you listen to this<br />
                    Don't see my hand in a fist that's not me<br />
                    And sarcasm can't you see it’s a tick<br />
                    Got a treatment for me?<br />
                    Yes, please
                </p>

                <p>
                    (1,2,3,4)
                </p>

                <p>
                    Is it subtlety you want<br />
                    You got it<br />
                    I'm in my head more than half the time<br />
                    Singing la da da da da<br />
                    Is it everything you want<br />
                    Come and get it<br />
                    La da da da da<br />
                    Is it subtlety you want<br />
                    You got it<br />
                    I'm in my head more than half the time<br />
                    Singing La da da da da<br />
                    Is it everything you want<br />
                    Come and get it<br />
                    La da da da da
                </p>

                <p>
                    Simplicity<br />
                    I know you want it<br />
                    No bittersweet<br />
                    Our gin no tonic<br />
                    I know you want it
                </p>

                <p>
                    I heard you listen to this<br />
                    Don't see my hand in a fist that's not me<br />
                    And sarcasm can't you see it’s a tick<br />
                    Got a treatment for me?<br />
                    Yes, please
                </p>

                <p>
                    (1,2,3,4)
                </p>

                <p>
                    Is it subtlety you want<br />
                    You got it<br />
                    I'm in my head more than half the time<br />
                    Singing la da da da da<br />
                    Is it everything you want<br />
                    Come and get it<br />
                    La da da da da<br />
                    Is it subtlety you want<br />
                    You got it<br />
                    I'm in my head more than half the time<br />
                    Singing La da da da da<br />
                    Is it everything you want<br />
                    Come and get it<br />
                    La da da da da
                </p>
            </div>
        </div>
    </div>
</section>
