<section class="bg-primary lyrics__words" id="youcanbet">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">You Can Bet</h2>
                <hr class="light">
                <p>
                    Walk towards me slowly<br />
                    The wind will blow your hair right back<br />
                    There's something 'bout your body<br />
                    That always blows my mind off track
                </p>

                <p>
                    And you can bet your ass I'll try<br />
                    To keep you mine forever<br />
                    And in the cold wet nights you'll find<br />
                    That this could feel like heaven
                </p>

                <p>
                    I know I'm not your normal taste<br />
                    But who the fu*k cares<br />
                    Slide a little closer<br />
                    Bite my lip and I'm a mess<br />
                    And its your head my heels are over
                </p>

                <p>
                    And you can bet your ass I'll try<br />
                    To keep you mine forever<br />
                    And in the cold wet nights you'll find<br />
                    That this could feel like heaven
                </p>

                <p>
                    You play just like a vinyl<br />
                    Smooth and always on my mind<br />
                    I wanna rock to your song<br />
                    And hope it's never the last time
                </p>

                <p>
                    And you can bet your ass I'll try<br />
                    To keep you mine forever<br />
                    And in the cold wet nights you'll find<br />
                    That this could feel like heaven
                </p>
            </div>
        </div>
    </div>
</section>
